@using Examen.Utilidades.Helpers
@model PersonaViewModel;

<script src="~/js/Persona.js"></script>

<div class="section-header">
    <h1><span><i class="fas fa-user me-2"></i></span>Persona</h1>
</div>

<div class="my-form-container">
    <form id="formPersona" class="form-container">

        <div class="form-row">

            @* Nombre *@

            <div class="col-md-3">
                <label for="txtNombre" class="label-concepto">Nombre</label>
                <input type="text" class="form-control" id="txtNombre" name="Nombre" required />
            </div>

            @* Apellido Paterno *@

            <div class="col-md-3">
                <label for="txtApellidoPaterno" class="label-concepto">Apellido paterno</label>
                <input type="text" class="form-control" id="txtApellidoPaterno" name="ApellidoPaterno" required />
            </div>

            @* Apellido Materno *@

            <div class="col-md-3">
                <label for="txtApellidoMaterno" class="label-concepto">Apellido materno</label>
                <input type="text" class="form-control" id="txtApellidoMaterno" name="ApellidoMaterno" required />
            </div>        

        </div>

        <div class="form-row mt-3">

            @* Identificacion *@

            <div class="col-md-3">
                <label for="txtIdentificacion" class="label-concepto">Identificacion</label>
                <input type="text" class="form-control" id="txtIdentificacion" name="Identificacion" onkeypress="ValidarNumerosEnteros(event)" required />
            </div>

        </div>

        @* btn Agregar Persona *@
        <div class="form-row mt-4">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <button id="btnGuardar" type="button" class="add-btn">
                    <span><i class="fas fa-plus-circle"></i></span>
                    Agregar Persona
                </button>
            </div>
        </div>

    </form>
</div>

@* @section Scripts {

    <script>
      

    </script>
} *@